In [53]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Extraction: Loading csv data

In [54]:
# load data from Internet Prices around 200+ countries in 2022 data
internetInfo_df = pd.read_csv("Resources/internet_info_2022.csv")
internetInfo_df.head()

,S.NO,Country code,Country,Continental region,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Average price of 1GB (USD at the start of 2021),Average price of 1GB (USD – at start of 2020),Internet users,Population,Avg \n(Mbit/s)Ookla
0,0,IL,Israel,NEAR EAST,27.0,0.05,0.02,20.95,0.11,0.9,"6,788,737","8,381,516",28.01
1,1,KG,Kyrgyzstan,CIS (FORMER USSR),20.0,0.15,0.10,7.08,0.21,0.27,"2,309,235","6,304,030",16.30
2,2,FJ,Fiji,OCEANIA,18.0,0.19,0.05,0.85,0.59,3.57,"452,479","883,483",25.99
3,3,IT,Italy,WESTERN EUROPE,29.0,0.27,0.09,3.54,0.43,1.73,"50,540,000","60,627,291",37.15
4,4,SD,Sudan,SUB-SAHARAN AFRICA,33.0,0.27,0.03,0.92,0.63,0.68,"12,512,639","41,801,533",9.50

In [55]:
# check how many rows
len(internetInfo_df)

242

In [56]:
# load data from Global Internet Usage data
internetusage_df = pd.read_csv("Resources/internet_usage_2022.csv")
internetusage_df.head()

       country  incomeperperson  internetuserate  urbanrate
0  Afghanistan              NaN         3.654122      24.04
1      Albania      1914.996551        44.989947      46.72
2      Algeria      2231.993335        12.500073      65.22
3      Andorra     21943.339900        81.000000      88.92
4       Angola      1381.004268         9.999954      56.70

In [57]:
# check how many rows
len(internetusage_df)

213

In [58]:
# # load data from World cities average internet prices. 2010 - 2020 
# prices_df = pd.read_csv("Resources/cities_internet_prices_2020.csv")
# prices_df.head()

In [59]:
#check how many rows
# len(prices_df)

In [60]:
# load data from Internet broadband and mobile speeds by country 
mobileData = pd.read_csv("Resources/mobile_BD_speeds.csv")
mobileData.head()

,Country,Broadband Speed Rank,Broadband Mbps,Mobile Speed Rank,Mobile Mbps,As of
0,Monaco,1.0,192.68,NaN,NaN,January 2022
1,Singapore,2.0,192.01,19.0,64.92,January 2022
2,Chile,3.0,189.36,109.0,15.50,January 2022
3,Thailand,4.0,184.03,56.0,32.38,January 2022
4,Hong Kong (SAR),5.0,173.42,38.0,45.86,January 2022

In [61]:
# check how many rows
len(mobileData)

179

In [62]:
# loading cities internet price dataset  
qoutes_removal = pd.read_csv('Resources/citiies_cleaned.csv')
qoutes_removal.head()

,City,Region,Country,InternetPrice
0,New York City,New York,United States of America,66.441395
1,"Washington, D.C.",District of Columbia,United States of America,60.590455
2,San Francisco,California,United States of America,68.988824
3,Berlin,,Germany,35.827084
4,Los Angeles,California,United States of America,66.690222

In [63]:
qoutes_removal.columns

Index(['City', 'Region', 'Country', 'InternetPrice'], dtype='object')

In [64]:
len(qoutes_removal)

519

In [65]:
qoutes_removal.head()

,City,Region,Country,InternetPrice
0,New York City,New York,United States of America,66.441395
1,"Washington, D.C.",District of Columbia,United States of America,60.590455
2,San Francisco,California,United States of America,68.988824
3,Berlin,,Germany,35.827084
4,Los Angeles,California,United States of America,66.690222

# Transformation :  Cleaning and merging of data

In [66]:
# rename the columns for internetusage_df
renamedinternetusage=internetusage_df.rename(columns={"country":"Country","incomeperperson":"Income Per Person","internetuserate":"Internet Use Rate","urbanrate":"Urban Rate"})
renamedinternetusage.head()

       Country  Income Per Person  Internet Use Rate  Urban Rate
0  Afghanistan                NaN           3.654122       24.04
1      Albania        1914.996551          44.989947       46.72
2      Algeria        2231.993335          12.500073       65.22
3      Andorra       21943.339900          81.000000       88.92
4       Angola        1381.004268           9.999954       56.70

In [67]:
# merge internetInfo and renamedinternentusage dataframes using "country"
firstMerge = pd.merge(internetInfo_df,renamedinternetusage, on = "Country")
firstMerge.head()

,S.NO,Country code,Country,Continental region,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Average price of 1GB (USD at the start of 2021),Average price of 1GB (USD – at start of 2020),Internet users,Population,Avg \n(Mbit/s)Ookla,Income Per Person,Internet Use Rate,Urban Rate
0,0,IL,Israel,NEAR EAST,27.0,0.05,0.02,20.95,0.11,0.9,"6,788,737","8,381,516",28.01,22275.751660,65.387786,91.66
1,1,KG,Kyrgyzstan,CIS (FORMER USSR),20.0,0.15,0.10,7.08,0.21,0.27,"2,309,235","6,304,030",16.30,372.728414,19.582316,36.28
2,2,FJ,Fiji,OCEANIA,18.0,0.19,0.05,0.85,0.59,3.57,"452,479","883,483",25.99,2230.676374,14.830736,52.36
3,3,IT,Italy,WESTERN EUROPE,29.0,0.27,0.09,3.54,0.43,1.73,"50,540,000","60,627,291",37.15,18982.269290,53.740217,68.08
4,4,SD,Sudan,SUB-SAHARAN AFRICA,33.0,0.27,0.03,0.92,0.63,0.68,"12,512,639","41,801,533",9.50,523.950151,NaN,43.44

In [68]:
# check how many rows merged together
len(firstMerge)

188

In [69]:
#drop some columns that were not neccessary
firstMerge = firstMerge.drop(columns=['S.NO','Country code','Continental region','Urban Rate'])
firstMerge.head()

,Country,NO. OF Internet Plans,Average price of 1GB (USD),Cheapest 1GB for 30 days (USD),Most expensive 1GB (USD),Average price of 1GB (USD at the start of 2021),Average price of 1GB (USD – at start of 2020),Internet users,Population,Avg \n(Mbit/s)Ookla,Income Per Person,Internet Use Rate
0,Israel,27.0,0.05,0.02,20.95,0.11,0.9,"6,788,737","8,381,516",28.01,22275.751660,65.387786
1,Kyrgyzstan,20.0,0.15,0.10,7.08,0.21,0.27,"2,309,235","6,304,030",16.30,372.728414,19.582316
2,Fiji,18.0,0.19,0.05,0.85,0.59,3.57,"452,479","883,483",25.99,2230.676374,14.830736
3,Italy,29.0,0.27,0.09,3.54,0.43,1.73,"50,540,000","60,627,291",37.15,18982.269290,53.740217
4,Sudan,33.0,0.27,0.03,0.92,0.63,0.68,"12,512,639","41,801,533",9.50,523.950151,NaN

In [70]:
# reordered dataframe by country in alphabetical order
sortedMerge = firstMerge.sort_values('Country')
len(sortedMerge)

188

In [71]:
#renamed dataframe columns to be easier to read
renamedsortedMerge=sortedMerge.rename(columns={
    "NO. OF Internet Plans":"Internet Plans Available",
    "Average price of 1GB (USD)":"Average price of a GB in 2022",
    "Cheapest 1GB for 30 days (USD)":"Cheapest GB",
    "Most expensive 1GB (USD)":"Most expensive GB",
    "Average price of 1GB (USD  at the start of 2021)":"Average price of a GB in 2021",
    "Average price of 1GB (USD – at start of 2020)":"Average price of a GB in 2020",
    "Avg \n(Mbit/s)Ookla":"Average Mbit/s"
    })
renamedsortedMerge.head()

,Country,Internet Plans Available,Average price of a GB in 2022,Cheapest GB,Most expensive GB,Average price of a GB in 2021,Average price of a GB in 2020,Internet users,Population,Average Mbit/s,Income Per Person,Internet Use Rate
49,Afghanistan,35.0,1.02,0.38,2.12,1.55,1.6,"4,068,194","37,171,921",5.50,NaN,3.654122
120,Albania,32.0,2.8,0.72,96.39,2.83,5.28,"2,105,339","2,882,740",40.48,1914.996551,44.989947
15,Algeria,20.0,0.51,0.16,2.24,0.65,5.15,"26,350,000","42,228,408",12.44,2231.993335,12.500073
169,Andorra,7.0,7.49,1.06,65.07,9.54,12.58,"76,095","77,006",NaN,21943.339900,81.000000
80,Angola,20.0,1.61,1.03,3.21,5.29,7.95,"4,271,053","30,809,787",22.59,1381.004268,9.999954

In [72]:
# dropped any rows with 'NAN' and reset index 
cleaned_InternetDF = renamedsortedMerge.dropna().reset_index(drop=True)

#rounded any values that were decimals to two points 
rounded_InternetDF =cleaned_InternetDF.round(2)
rounded_InternetDF.head()

,Country,Internet Plans Available,Average price of a GB in 2022,Cheapest GB,Most expensive GB,Average price of a GB in 2021,Average price of a GB in 2020,Internet users,Population,Average Mbit/s,Income Per Person,Internet Use Rate
0,Albania,32.0,2.8,0.72,96.39,2.83,5.28,"2,105,339","2,882,740",40.48,1915.00,44.99
1,Algeria,20.0,0.51,0.16,2.24,0.65,5.15,"26,350,000","42,228,408",12.44,2231.99,12.50
2,Angola,20.0,1.61,1.03,3.21,5.29,7.95,"4,271,053","30,809,787",22.59,1381.00,10.00
3,Argentina,28.0,2.38,0.44,11.47,1.45,7.4,"33,561,876","44,361,150",20.64,10749.42,36.00
4,Armenia,21.0,0.76,0.22,13.02,1.05,2.51,"2,043,110","2,951,745",22.01,1326.74,44.00

In [73]:
# check how many rows are left 
len(rounded_InternetDF)

122

### Merging Broadband table with table showing prices

In [74]:
#drop the columns we are not gonna use in database
mobileData = mobileData.drop(columns=['Mobile Speed Rank','Mobile Mbps','As of'])
mobileData.head()

           Country  Broadband Speed Rank  Broadband Mbps
0           Monaco                   1.0          192.68
1        Singapore                   2.0          192.01
2            Chile                   3.0          189.36
3         Thailand                   4.0          184.03
4  Hong Kong (SAR)                   5.0          173.42

In [75]:
len(mobileData)

179

In [76]:
internet_Broadband = pd.merge(rounded_InternetDF, mobileData, on = "Country")
internet_Broadband.head()

,Country,Internet Plans Available,Average price of a GB in 2022,Cheapest GB,Most expensive GB,Average price of a GB in 2021,Average price of a GB in 2020,Internet users,Population,Average Mbit/s,Income Per Person,Internet Use Rate,Broadband Speed Rank,Broadband Mbps
0,Albania,32.0,2.8,0.72,96.39,2.83,5.28,"2,105,339","2,882,740",40.48,1915.00,44.99,91.0,33.50
1,Algeria,20.0,0.51,0.16,2.24,0.65,5.15,"26,350,000","42,228,408",12.44,2231.99,12.50,144.0,9.72
2,Angola,20.0,1.61,1.03,3.21,5.29,7.95,"4,271,053","30,809,787",22.59,1381.00,10.00,134.0,11.97
3,Argentina,28.0,2.38,0.44,11.47,1.45,7.4,"33,561,876","44,361,150",20.64,10749.42,36.00,82.0,38.47
4,Armenia,21.0,0.76,0.22,13.02,1.05,2.51,"2,043,110","2,951,745",22.01,1326.74,44.00,88.0,34.26

In [77]:
#check how many rows are left 
len(internet_Broadband)

120

In [78]:
#make sure we have no Null/NaN values
internet_Broadband.isnull().sum()

Country                          0
Internet Plans Available         0
Average price of a GB in 2022    0
Cheapest GB                      0
Most expensive GB                0
Average price of a GB in 2021    0
Average price of a GB in 2020    0
Internet users                   0
Population                       0
Average Mbit/s                   0
Income Per Person                0
Internet Use Rate                0
Broadband Speed Rank             0
Broadband Mbps                   0
dtype: int64

In [79]:
# replacing the country name 

qoutes_removal['Country'] = qoutes_removal['Country'].str[1:]
qoutes_removal = qoutes_removal.replace('United States of America', 'United States')

In [80]:
# merging the above dataset to our previous merged set. 
FinalMergeDF = pd.merge(internet_Broadband, qoutes_removal, on = 'Country')
FinalMergeDF = FinalMergeDF.rename(columns={"InternetPrice": "Internet Price of City (USD)", "Average Mbit/s": "Average National Internet Speed"})
FinalMergeDF

,Country,Internet Plans Available,Average price of a GB in 2022,Cheapest GB,Most expensive GB,Average price of a GB in 2021,Average price of a GB in 2020,Internet users,Population,Average National Internet Speed,Income Per Person,Internet Use Rate,Broadband Speed Rank,Broadband Mbps,City,Region,Internet Price of City (USD)
0,Albania,32.0,2.8,0.72,96.39,2.83,5.28,"2,105,339","2,882,740",40.48,1915.00,44.99,91.0,33.50,Tirana,Tirana County,21.163960
1,Algeria,20.0,0.51,0.16,2.24,0.65,5.15,"26,350,000","42,228,408",12.44,2231.99,12.50,144.0,9.72,Algiers,Algiers Province,45.178261
2,Argentina,28.0,2.38,0.44,11.47,1.45,7.4,"33,561,876","44,361,150",20.64,10749.42,36.00,82.0,38.47,Buenos Aires,,30.602425
3,Argentina,28.0,2.38,0.44,11.47,1.45,7.4,"33,561,876","44,361,150",20.64,10749.42,36.00,82.0,38.47,La Plata,Buenos Aires Province,40.296237
4,Argentina,28.0,2.38,0.44,11.47,1.45,7.4,"33,561,876","44,361,150",20.64,10749.42,36.00,82.0,38.47,Cordoba,Cordoba Province,25.158759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Uruguay,35.0,1.51,0.10,6.33,1.58,2.8,"2,360,269","3,449,285",34.43,9106.33,47.87,36.0,85.61,Montevideo,Montevideo Department,31.760326
495,Uruguay,35.0,1.51,0.10,6.33,1.58,2.8,"2,360,269","3,449,285",34.43,9106.33,47.87,36.0,85.61,Punta del Este,Maldonado Department,32.920326
496,Uzbekistan,60.0,0.6,0.01,23.75,1.34,3.27,"16,692,456","32,476,244",13.27,952.83,19.45,84.0,36.85,Tashkent,,33.555714
497,Vietnam,46.0,0.49,0.07,5.55,0.57,1.31,"68,172,134","95,545,962",33.90,722.81,27.85,47.0,67.50,Ho Chi Minh City,,11.212581
498,Vietnam,46.0,0.49,0.07,5.55,0.57,1.31,"68,172,134","95,545,962",33.90,722.81,27.85,47.0,67.50,Hanoi,,9.935254

In [81]:
FinalMergeDF = FinalMergeDF[['Country', 'City', 'Internet Price of City (USD)', 'Average price of a GB in 2020', 'Average price of a GB in 2021',
             'Average price of a GB in 2022', 'Internet Plans Available', 'Cheapest GB', 'Most expensive GB',
                            'Average National Internet Speed','Internet users', 'Internet Use Rate', 'Broadband Mbps']]

## The Final Dataframe:

In [82]:
FinalMergeDF

,Country,City,Internet Price of City (USD),Average price of a GB in 2020,Average price of a GB in 2021,Average price of a GB in 2022,Internet Plans Available,Cheapest GB,Most expensive GB,Average National Internet Speed,Internet users,Internet Use Rate,Broadband Mbps
0,Albania,Tirana,21.163960,5.28,2.83,2.8,32.0,0.72,96.39,40.48,"2,105,339",44.99,33.50
1,Algeria,Algiers,45.178261,5.15,0.65,0.51,20.0,0.16,2.24,12.44,"26,350,000",12.50,9.72
2,Argentina,Buenos Aires,30.602425,7.4,1.45,2.38,28.0,0.44,11.47,20.64,"33,561,876",36.00,38.47
3,Argentina,La Plata,40.296237,7.4,1.45,2.38,28.0,0.44,11.47,20.64,"33,561,876",36.00,38.47
4,Argentina,Cordoba,25.158759,7.4,1.45,2.38,28.0,0.44,11.47,20.64,"33,561,876",36.00,38.47
...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,Uruguay,Montevideo,31.760326,2.8,1.58,1.51,35.0,0.10,6.33,34.43,"2,360,269",47.87,85.61
495,Uruguay,Punta del Este,32.920326,2.8,1.58,1.51,35.0,0.10,6.33,34.43,"2,360,269",47.87,85.61
496,Uzbekistan,Tashkent,33.555714,3.27,1.34,0.6,60.0,0.01,23.75,13.27,"16,692,456",19.45,36.85
497,Vietnam,Ho Chi Minh City,11.212581,1.31,0.57,0.49,46.0,0.07,5.55,33.90,"68,172,134",27.85,67.50
498,Vietnam,Hanoi,9.935254,1.31,0.57,0.49,46.0,0.07,5.55,33.90,"68,172,134",27.85,67.50

# Loading : Loading our Final Dataframe into Sql

In [87]:
engine = create_engine('postgresql://postgres:yourpassword@localhost/')
FinalMergeDF.to_sql('final_internet_data', engine)

In [ ]:
#Checking the upload

# # Create Engine
# engine = create_engine("postgresql://postgres:yourpassword@localhost/") # connects to database 
# conn = engine.connect() # used to tell how we make our pandas dataframe #pipe that into connection object

In [ ]:
# # we can create a panda dataframe by using the engine as well as a query
# resultsDF =pd.read_sql("SELECT * FROM final_internet_data", conn)
# resultsDF.head(10)